extends layout/default

block styles
  :stylus
    .component.list
      .li
        &.active
          background-color #DDD

        &.selected
          background-color #AAA

append scripts
  script
    var List = require('list');

    var data = ['apple', 'banana', 'peach', 'orange', 'melon'];
    var list = new List(data);

    list.appendTo(document.body);
