doctype 5
html
  head
    title Test
    :stylus
      .component.list
        .li
          &.selected
            background-color #DDD

  body
    script(src="../build/build.js")
    script
      var List = require('list');

      var data = ['apple', 'banana', 'peach', 'orange', 'melon'];
      var list = new List(data);

      document.body.appendChild(list);
